.note-header {
  position: relative; 
  
  width: 100%; 
  padding: 0.8rem 3rem 0.8rem 1rem; 
  box-sizing: border-box; 
  
  display: flex; 
  align-items: center; 
  
  border-bottom: 1px solid #ccc; 
  z-index: 5; 
}

.header-note-title {
  font-weight: 500;
  font-size: 1.3rem;
  margin-left: 0.5rem; 
  color: white; 
}

.header-note-icon {
  color: white; 
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .note-header {
    width: 100%;
    padding: 0.8rem 1rem;
  }
}