
.note-view-container {
  width: 70%; 
  height: 100vh; 
  margin-left: 30%; 
  display: flex;
  flex-direction: column;
  background-color: #DAE5F5;
  position: relative;
}

.note-header-container {
  width: 100%;
  flex-shrink: 0;
}

.notes-list-scroll {
  flex-grow: 1; 
  height: 0; 
  overflow-y: auto; 
  padding: 2rem;
  padding-top: 2.5rem; 
  padding-bottom: 150px; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-area-container {
  width: 100%;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  flex-shrink: 0; 
  z-index: 10;
}


.note-card-wrapper {
  display: flex;
  justify-content: flex-start;
}

.note-card {
  background-color: #FFFFFF;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.note-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
  word-break: break-word; 
}


.note-meta-data {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 0.85rem;
  color: #333;
  display: flex;
  align-items: center;
}


.note-date-time {
  font-weight: 500;
}


.separator-dot {
  margin: 0 0.5rem;
  font-weight: 900;
  font-size: 1.2rem; 
  line-height: 1; 
}

/* Mobile */
@media screen and (max-width: 768px) {
  .note-view-container {
    width: 100%;
    margin-left: 0;
  }
}