.sidebar {
  position: fixed;
  top: 0;
  left: 0; 
  width: 30%; 
  height: 100vh; 
  background-color: var(--white-color);
  font-weight: 500;
  overflow-y: auto;
  padding-bottom: 5rem;
  border-right: 1px solid #ddd;
}

/* Sidebar.Module.css */

.sidebar-heading {
  width: 100%;
  color: var(--black-color);
  font-size: 1.5rem;
  padding: 3rem 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: sticky;
  top: 0;
  background: white;
  z-index: 2; 
}


.create-notes-fab {
  position: absolute;
  bottom: 2rem; 
  right: 2rem;
  width: 4rem; 
  height: 4rem;
  border-radius: 50%; 
  background-color: #16008B;; 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(221, 41, 41, 0.1); 
  z-index: 10; 
}

.sidebar-notes-list {
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}
.sidebar-note-element {
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  display: flex; /* Ensure flex for consistent alignment */
  align-items: center; /* Vertically center icon and text */
}

.note-list-icon {
  background-color: var(--notes-color-1); /* Use your defined color variable */
  color: var(--white-color); /* Initial text color */
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; /* Ensure initials are uppercase */
}

.note-selected {
  background-color: var(--notes-back-color);
  padding: 0.5rem;
  border-end-start-radius: 1.5rem;
  border-start-start-radius: 1.5rem;
  margin-right: 1.5rem; 
}
.sidebar-note-title {
  margin-left: 0.5rem; /* Space between icon and text */
}

/* ---scrollbar---- */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* media queries */

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    text-align: left;
    border-right: none; 
  }
  .sidebar-heading {
    padding: 3rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
  }

  .create-notes-fab {
    right: 1rem;
    bottom: 1rem;
  }

  .note-selected {
    border-end-start-radius: 0rem;
    border-start-start-radius: 0rem;
    border-radius: 1rem; 
    margin-right: 1rem; 
  }
  .sidebar-notes-list {
    padding: 1rem;
  }
}

